<% content_for :title, "2D地図 - PLATEAU-1120" %>
<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<!-- 共通のデータコントロール -->
<%= render 'shared/data_controls' %>


<div id="map" style="height: 100vh;"></div>

<%= content_for :javascript do %>
  <script type="module">
    import "leaflet_application";
  </script>
<% end %>
